# utils
setuptools
pytest~=6.2.4

# modelling
epydemic==1.7.1
epyc==1.4.1
networkx~=2.5.1
matplotlib~=3.4.2
seaborn~=0.11.1
pandas~=1.2.4
numpy~=1.20.3
mpmath~=1.2.1
jupyter==1.0.0

# web app
dash~=1.20.0
plotly~=4.14.3
dash-bootstrap-components~=0.12.2
uwsgi~=2.0.19.1

