#page-content {
    width: 100%;
    padding-bottom: 1rem;
}

#brand-wide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 2rem 1rem;
}

#brand-narrow {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

@media only screen and (max-width: 1600px) {
    #brand-narrow {
        display: block;
    }
    #brand-wide {
        display: none;
    }
    #page-content {
        padding-top: 0;
    }
}

@media only screen and (min-width: 1600px) {
    #brand-narrow {
        display: none;
    }
    #brand-wide {
        display: block;
    }
    #page-content {
        padding-top: 0.5rem;
    }
}

.checklist-option {
    margin-right: 1rem;
    display: inline-block;
}

.row {
    margin-bottom: 0.5rem;
}

.inline-form-group {
    margin-left: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    color: white;
    padding: 15px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}