#page {
    display: grid;
    width: 99vw;
    height: 99vh;
    padding: 5px;
    grid-template-areas:
            "h"
            "x"
            "f ";
    grid-template-rows: 4.5rem 1fr 0;
    grid-row-gap: 3px;
}

#text-content {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 1400px;
    min-width: 300px;
    vertical-align: top;
}