#brand {
    grid-area: h;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 5px;
}

#controls {
    grid-area: c;
    grid-auto-rows: auto;
    grid-row-gap: 1rem;
    overflow-y: auto;
}

#main {
    grid-area: m;
}

#table {
    grid-area: t;
}

#waterfall {
    grid-area: w;
}

#heatmap {
    grid-area: v;
}

#waterfall .card-body {
    display: grid;
}

#heatmap .card-body {
    display: grid;
}


#footer {
    grid-area: f;
}

#themes {
    font-size: medium;
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 100px;
}

#page-content {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 0;
}

#logo {
    height: 1.5rem;
    margin-right: 10px;
}

.checklist-option {
    margin-right: 1rem;
    display: inline-block;
}

.inline-form-group {
    margin-left: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    color: black;
    padding: 15px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.dash-graph {
    width: 100%;
    height: 100%;
}

.table {
    font-family: inherit !important;
    color: inherit !important;
}

.table thead {
    display: none;
}

.table td {
    padding: 5px;
}

/*
Right aligned floating image
Source: https://stackoverflow.com/a/39614958/12168211
*/
img[alt$=">"] {
    float: right;
    margin: 0 15px 15px 0;
    width: 30%;
    min-width: 50px;
    max-width: 120px;
}

/*
Right aligned floating image (wide)
Source: https://stackoverflow.com/a/39614958/12168211
*/
img[alt$=">w"] {
    float: right;
    margin: 0 15px 15px 0;
    width: 30%;
    min-width: 50px;
    max-width: 180px;
}

/*
Left aligned floating image
Source: https://stackoverflow.com/a/39614958/12168211
*/
img[alt$="<"] {
    float: left;
    margin: 0 15px 15px 0;
    width: 30%;
    min-width: 50px;
    max-width: 120px;
}

/*
Left aligned floating image (wide)
Source: https://stackoverflow.com/a/39614958/12168211
*/
img[alt$="<w"] {
    float: left;
    margin: 0 15px 15px 0;
    width: 30%;
    min-width: 50px;
    max-width: 180px;
}


/*
Centered image
Source: https://stackoverflow.com/a/39614958/12168211
*/
img[alt$="><"] {
    display: block;
    max-width: 100%;
    min-width: 60%;
    height: auto;
    margin: auto;
    float: none!important;
}