html {
  scroll-behavior: smooth;
}

#page {
    display: grid;
    width: 99vw;
    height: 99vh;
    padding: 5px;
    grid-template-areas:
            "h"
            "x"
            "f ";
    grid-template-rows: 4.05rem 1fr 0;
    grid-row-gap: 3px;
}

#text-container {
    width: 100%;
    vertical-align: top;
    margin-top: 20px;
}

#text-content {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#h1-404, #h3-404 {
    margin-top: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8)
}

#text-content a {
    color: blue;
    text-underline: blue;
}

/* Don't show help button */
#help-button {
    display: none;
}

/*
Markdown table formatting
https://community.plotly.com/t/tables-in-markdown/15823/8
*/
table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th:not(.CalendarDay), td:not(.CalendarDay) {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child:not(.CalendarDay), td:first-child:not(.CalendarDay) {
    padding-left: 0;
}

th:last-child:not(.CalendarDay), td:last-child:not(.CalendarDay) {
    padding-right: 0;
}
/* End of markdown table formatting. */